[submodule "zsh/plugins/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = https://gitee.com/romkatv/powerlevel10k.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/tmux-power"]
	path = tmux/tmux-power
	url = git@github.com:wfxr/tmux-power.git
[submodule "zsh/plugins/nix-zsh-completions"]
	path = zsh/plugins/nix-zsh-completions
	url = git@github.com:spwhitt/nix-zsh-completions.git
[submodule "zsh/themes/powerlevel10k"]
	path = zsh/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
