* {
  border: none;
  border-radius: 0;
  font-family: Fira Code Nerd Font;
  font-size: 14px;
  min-height: 24px;
}

window#waybar {
  background: #000d1a;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 26px;
  transition: none;
  /*
  color: #f8f8f2;
  background: #282a36;
   */
  color: transparent;
  background: transparent;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
  color: #4d4d4d;
  background: #e6e6e6;
}

#workspaces {
  margin-top: 8px;
  margin-left: 12px;
  margin-bottom: 8px;
  border-radius: 26px;
  color: #ffffff;
  background: #282a36;
  transition: none;
}

#workspaces button {
  transition: none;
  color: #f8f8f2;
  background: transparent;
  font-size: 16px;
}

#workspaces button.focused {
  color: #9aedfe;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #ffffff;
}

#mdp,
#temperature,
#cpu,
#memory,
#battery {
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 8px;
  border-radius: 26px;
  transition: none;
  color: #ffffff;
  background: #8214c7;
}

#pulseaudio,
#bluetooth,
#network,
#backlight {
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 8px;
  border-radius: 26px;
  transition: none;
  color: #ffffff;
  background: #012866;
}

#clock {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 8px;
  border-radius: 26px;
  transition: none;
  color: #ffffff;
  background: #01663d;
}

#custom-notification {
  margin-top: 8px;
  margin-left: 1px;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 8px;
  border-radius: 26px;
  transition: none;
  color: #ffffff;
  background: #808080;
}
